<h1><%= @title %> articulo</h1>

<%= form_for @articulo do |f| %>

  <% if @articulo.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@articulo.errors.count, "error") %> han impedido que el artículo sea grabado:
      </h2>
      <ul>
        <% @articulo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :titular, 'Titular:' %>
    <%= f.text_field :titular, required: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :contenido, 'Contenido:' %>
    <%= f.text_area :contenido, rows: 10, required: true, class: 'form-control' %>
  </div>

  <div class="form-group text-right">
    <%= f.submit "Guardar Artículo", class: 'btn btn-success' %>
  </div>

<% end %>

<%= link_to 'Regresar', articulos_path %>