<%= link_to 'Home', root_path  %>
<h1>Listando Artículos</h1> 
<%= link_to 'Crear nuevo Articulo', new_articulo_path %>
<table>
  <tr>
    <th>Titular</th>
    <th>Contenido</th>
  </tr>
 
  <% @articulos.each do |articulo| %>
    <tr>
      <td><%= articulo.titular %></td>
      <td><%= articulo.contenido %></td>
      <td><%= link_to 'Editar', edit_articulo_path(articulo) %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'Crear nuevo Articulo', new_articulo_path %>
