
<%= link_to 'Login', new_user_session_path %><br>
<%= link_to 'Cerrar sesion', destroy_user_session_path, method: :delete %> <br>
<i class="fa fa-camera-retro"></i><br>
<%= link_to fa_icon("home"), root_path  %>

<h1>Listando Artículos</h1> 
<%= link_to 'Crear nuevo Articulo', new_articulo_path %>
<table>
  <tr>
    <th>Titular</th>
    <th>Contenido</th>
  </tr>
 
  <% @articulos.each do |articulo| %>
    <tr>
      <td><%= articulo.titular %></td>
      <td><%= articulo.contenido %></td>
      <td><%= link_to 'Ver', articulo_path(articulo) %></td>
      <td><%= link_to 'Editar', edit_articulo_path(articulo) %></td>
      <td>
        <%= 
        link_to 'Eliminar', 
        articulo_path(articulo), 
        method: :delete,
        data: { confirm: "Estas seguro de eliminar?" }
        %>
      </td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'Crear nuevo Articulo', new_articulo_path %>
