<p>
	<strong>Titular</strong>
	<%= @articulo.titular %>
</p>

<p>
	<strong>Contenido</strong>
	<%= @articulo.contenido %>
</p>

<%= render 'anadir_comentario' %>

<%= render 'listado_comentarios' %>



<br>

<%= link_to 'Ver listado', articulos_path %>
